@media (min-width: 1280px) {

  html .markdown-body.markdown-body {
    table, tr, td, th, thead, tbody {
      border: 0;
      background: transparent;
    }

    table {
      border: solid 2px #eee;
    }

    th {
      font-weight: normal;
      font-size: 0.9em;
      color: #888;
    }

    * + td,
    * + th {
      padding-left: 24px;
    }

    th, td {
      text-align: left;
      border-left: 0;
      border-right: 0;
      border-bottom: solid 1px #eee;
      vertical-align: top;
    }
  }
}
html .button
{
  white-space: nowrap;
  padding: 0.5em;
}
html .button a{
    font-size: 1.6em;
    color: rgb(26, 188, 156);
    text-decoration: none;
    background: white;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(26, 188, 156);
    border-image: initial;
    border-radius: 0.2em;
    padding: 5px 12px;
}
html .button.main a{
    font-size: 1.6em;
    color: white;
    text-decoration: none;
    background: rgb(26, 188, 156);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(26, 188, 156);
    border-image: initial;
    border-radius: 0.2em;
    padding: 5px 12px;
}
html .markdown-body {
    margin-top: 3em;
    margin-bottom: 3em;
    margin-right: 1em;
    margin-left: 1em;
    width: none;
    max-width: none;;
}

img {
    border-radius: 4px;
}
.grid-sizer,
.grid-item { 
  width: 100%; 
  padding: 0.5rem;
}
.grid-item-wide {
  width: 100%; 
  padding: 0.5rem;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .grid-sizer,
    .grid-item { width: 33%; }
    .grid-item-wide { width: 66%; }
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  .grid-sizer,
  .grid-item { width: 33%; }
  .grid-item-wide { width: 66%; }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  .grid-sizer,
  .grid-item { width: 33%; }
  .grid-item-wide { width: 66%; }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  .grid-sizer,
  .grid-item { width: 33%; }
  .grid-item-wide { width: 66%; }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .grid-sizer,
  .grid-item { width: 50%; }
  .grid-item-wide { width: 100%; }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  .grid-sizer,
  .grid-item { width: 50%; }
  .grid-item-wide { width: 100%; }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .grid-sizer,
  .grid-item { width: 100%; }
  .grid-item-wide { width: 100%; }
}
